<mat-toolbar>
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <h1>Brame Blog </h1>

    <a mat-button color="primary" routerLinkActive="active" [routerLink]="''" [routerLinkActiveOptions]="{exact: true}"> Articles </a>
    <a *ngIf="isLoggedIn" mat-button color="primary" routerLinkActive="active" mat-button-primary [routerLink]="'/categories'" [routerLinkActiveOptions]="{exact: true}"> Categories </a>
    <span class="menu-spacer"></span>
    <span *ngIf="isLoggedIn">Logged in as Admin</span>
    <a *ngIf="isLoggedIn" mat-button color="primary"> Logout </a>
    <a *ngIf="!isLoggedIn" mat-button color="primary" (click)="onLoginClick()"> Login </a>

    <div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
